<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/WEB;user=root;password=pass</param-value>
    </context-param>
    <listener>
        <description>listener</description>
        <listener-class>listener.ContextListener</listener-class>
    </listener>
    <listener>
        <description>listener</description>
        <listener-class>listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DBManager</servlet-name>
        <servlet-class>DB.DBManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>DB.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContextListener</servlet-name>
        <servlet-class>listener.ContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoggedHome</servlet-name>
        <servlet-class>servlet.LoggedHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaGruppo</servlet-name>
        <servlet-class>servlet.CreaGruppo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGroups</servlet-name>
        <servlet-class>servlet.ShowGroups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBManager</servlet-name>
        <url-pattern>/DBManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContextListener</servlet-name>
        <url-pattern>/ContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggedHome</servlet-name>
        <url-pattern>/LoggedHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaGruppo</servlet-name>
        <url-pattern>/CreaGruppo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGroups</servlet-name>
        <url-pattern>/ShowGroups</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>jdbc:derby://localhost:1527/WEB</description>
        <res-ref-name>root</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
